{% extends 'base.html' %}
{%block title%}
    <title>home page</title>
{%endblock%}
{% block content %} 

<style>

.card{
    
    display: inline-block;
    width: 100%;
    background: #031733;
    color: #fff;
    top: 50%;
    left: 0%;
    padding: 5px 20px;
  
}

 .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          flex: 1 1 auto;
          padding-bottom:10px;
          background-position: center;
          }
.col-md-3 img
            {
            width: 100%;
            height: 200px;
            }                     
</style>


{% for m in form %}
<h5 class="my-4">Flash Sale On {{form.0.username}} - Recommended Items</h5>
{%endfor%}
<div class="card">
{%if user.is_authenticated%}

 {%for n in post%}
 {%if n.hide_show is False%}
 
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 18rem;">

          <p class="card-text">{{n.post_user.first_name.title}} {{n.post_user.last_name.title}} --{{n.create_date}}</p>
          <p class="card-text">{{n.caption.capitalize}}</p>
          {%if n.image != None%}
            <img src='/media/{{n.image}}' class="card-img-top" alt="  "> 
  
          {%else%}
          <img src='img src='/media/{{image}}'}' class="card-img-top" >
           {%endif%}
          <div class="card-body">


    {% if n.post_text|length > 50 %}
        <p class="half-content" id="half-{{n.post_user.id}}">{{ n.post_text|truncatechars:10 }}<a data-id="{{n.post_user.id}}" href="javascript:void();" class="show-hide-btn">read more</a></p>
        <p class="full-content" id="full-{{n.post_user.id}}" style="display: none;">{{ n.post_text}}<a data-id="{{n.post_user.id}}" href="javascript:void();" class="show-hide-btnn">read less</a></p>
       
    {% else %}
        <p>{{ n.post_text }}</p>
    {% endif %}



<script>
    $(document).ready(function(){
        $(".show-hide-btn").click(function(){
            var id = $(this).data("id");
            $("#half-"+id).hide();
            $("#full-"+id).show();
        });
    });

   $(document).ready(function(){
        $(".show-hide-btnn").click(function(){
            var id = $(this).data("id");
            $("#half-"+id).show();
            $("#full-"+id).hide();
        });
    });


</script>  

<div class="container">
    <h6> Comments</h6>
    <form action="/addcomment" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Post Comment </label>
            <input type="text" class="form-control" name="comment" placeholder="Enter comment here">
        </div>
        <input type="hidden" name="postSno" value="{{post.sno}}">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% for comment in comment %}
    <div class="row my-3">
        <div class="col-md-1  ">
        <img class="rounded mx-auto d-block w-100 p-2" src="/static/img/user.png"  alt="user">
        </div>
        <div class="col-md-11 "> 
        <b> {{comment.user.username}} </b> at {{comment.created_on}}
        <div>   {{comment.comment}} </div>
    </div>
    </div>
    {% endfor %}

    
</div>
        <!-- comments -->
    
    
        {% comment %} <a  href="{%url "addcomment" n.id%}">Leave a comment</a></br> {% endcomment %}

    


             
    {% comment %} {%if n.post_user.id == request.user.id%} {% endcomment %}

	    <a class="btn btn-primary" href="{%url "details"%}" role="button">View</a>

    {% comment %} {%endif%}  {% endcomment %}
              
            </div>
          </div>
        </div>
    {%endif%}
  {% endfor %}
  

  {%else%}

  {%endif%}


</div> 

 {%endblock %} 