
 <style>
body{
    margin: 0;
    padding: 0;
    background: url(/Image/loginform/wall.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.loginbox{
    flex: 1 1 auto;
    width: 320px;
    height: 630px;
    {% comment %} background: #0005; {% endcomment %}
    background: #031733; 
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 30px;
    margin-top: 70px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);   
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],
 input[type="password"],  input[type="email"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #172749;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}
</style>
 {% comment %} <form method='POST'>
{% csrf_token %}
 {{form.as_p}}  {% endcomment %}
 {% comment %} {% for field in form %}
      <div class="row">
        <label for="{{ field.name}}">{{ field.label}}</label>{{ field }}
     </div>
{% endfor %} {% endcomment %} 
{% comment %} <input type="submit" value=" Create">
 </form>   {% endcomment %}



<body>
        <div class="background">
        <div class="loginbox">
        <img src="/image/loginform/avatar.png" class="avatar"> 
        <h1>Create Account </h1>
        <form action=" " method="POST">
        {%csrf_token%}
            <p>Username</p>
            {{form.username}}
            <p>First Name</p>
            {{form.first_name}}
            <p>Last Name</p>
            {{form.last_name}}
            <p>Email</p>
            {{form.email}}
            <p>Password</p>
            {{form.password1}}
            <p>Password confirmation</p>
            {{form.password2}}

            {{form.errors}}
           <input type="submit" value=" Create">

            <a href ="{%url 'login'%}">Already have an account?</a>
        </form>
        </div>
        </div>
    </body>  


{% comment %} 
    <body>
        <div class="background">
        <div class="loginbox">
        <img src="/image/loginform/avatar.png" class="avatar"> 
        <h1> Login </h1>
        <form action="" method="POST">
            {% csrf_token %}
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">

            <p>Email</p>
            <input type="text" name="email" placeholder="Enter email">

            <p>Password</p>
            <input type="password" name="password1" placeholder="Enter password">

            <p>Password Confirmation</p>
            <input type="password" name="password2" placeholder="Enter Password">
            <input type="submit" name="" value="Login">
          <a href ="{%url 'login'%}">Already have an account?</a>
        </form>
        </div>
        </div>
    </body> {% endcomment %}